src/main/resources/META-INF/spongecaptain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.spongecaptain.cool/schema/spongecaptain"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.spongecaptain.cool/schema/spongecaptain">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:element name="myapplication">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="name" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="myservice">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="name" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>